.responsive {
  width: 100%;
  height: auto;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


/* Crave Control logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 700px;
  height: auto; 
}

/*no clue whats below */

#welcome-back {
  text-align: center;
}

#monthly-transcations {
  text-align: center;
}

#landing-page-image {
  width: 20%;
  height: 20%;
}

#edit-icon {
  min-width: 100px;
  max-width: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#amount-text{
  float: left;
  font-size: 15pt;
}

#days-text{
  float: left;
  font-size: 15pt;
}

#amount-input {
  height: 20px;
  width: 70px;
  float: right;
}

#days-input {
  height: 20px;
  width: 70px;
  float: right;
}

#submit-button {
  padding: 8px 25px;
  font-size: 15pt;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

 /* Styles for the footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer img {
  margin: 0 10px;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
}

.footer img:hover {
  filter: brightness(80%);
}


#yesno {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*↓ monthlyspending.html Style elements ↓*/

        /*Style element for monthly spending message on monthlyspending.html*/
        #monthly-spending{
          margin-bottom: 20px; 
      }

      /*Style element for how much money you have spent on monthlyspending.html*/
      #money-spent-this-year{
          display: inline-block; 
          padding: 10px 20px;
          background-color: #a4a4a4;
          color: #000000;
          border: none;
          cursor: pointer;
          font-size: 16px;   
          margin-bottom: 20px;  
      }

      /*Style element for back button image on monthlyspending.html*/
      #back-button-image {
        max-width: 40px;
        max-height: 40px;
        min-width: 20px;
        min-height: 20px;
        margin-bottom: 5px;
        position: fixed;
        left: 50px; /* Adjust to position the button at the left side */
        top: 25%; /* Position 25% from the top of the page */
      }
  
      /*Style element for monthly spending message container in monthlyspending.html*/
      .monthly-spending-message-container {
          text-align: center;
      }

      /*Style elements for compare button on monthlyspending.html*/
      .compare-button {
          padding: 10px 20px;
          background-color: #a4a4a4;
          color: #000000;
          border: none;
          cursor: pointer;
          font-size: 16px;
          margin-bottom: 20px;
      }
      
      /*Style element for the months button container in monthlyspending.html*/
      .months-container {
          display: grid;
          grid-template-columns: repeat(3, 1fr); 
          gap: 10px; 
          text-align: center;
          margin-bottom: 10%;
      }

      /*Style element for the months button in months container in monthlyspending.html*/
      .months-container a {
          display: inline-block;
          padding: 2% 10%;
          color: #000000;
          border: none;
          cursor: pointer;
          font-size: 16px;
          text-decoration: none;
      }
      
/*↑ monthlyspending.html Style elements ↑*/

/*↓ yearlyreport.html Style elements ↓*/

      /*Style element for how much money you have spent on monthlyspending.html*/
      #money-yearly-report {
        display: flex; /* Use flexbox for centering */
        flex-direction: column; /* Stack items vertically */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        width: fit-content; /* Adjust width as per content */
        margin: 100px auto 50px; /* Center align horizontally and add top and bottom margin */
        /* padding: 10px 20px; */
        background-color: #a4a4a4;
        color: #000000;
        border: solid;
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    #money-yearly-report .report-heading {
        margin-bottom: 10px; /* Add margin below the heading */
    }
    
    /* Style for the graph image container */
    .yearly-graph-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px; /* Add space between text and image */
    }
    
    /* Style for the graph image */
    .graph-image {
        max-width: 33.33%; /* Make the image one-third of its original size */
        max-height: 33.33%; /* Make the image one-third of its original size */
    }
    
    /* Style for the top spendings container */
    .top-yearly-spendings-container {
        text-align: center;
        margin-top: 20px;
    }
    
    .top-yearly-spendings-container h3 {
        margin-bottom: 10px;
    }
    
    .top-yearly-spendings-container ul {
        list-style: none;
        padding: 0;
    }
    
    .top-yearly-spendings-container ul li {
        margin-bottom: 5px;
    }
    
    /*↓ yearlyreport.html Style elements ↓*/
    
    /*Style element for back button image on monthlyspending.html*/
    #back-button-image{
        max-width: 40px;
        max-height: 40px;
        min-width: 20px; 
        min-height: 20px;
        margin-bottom: 5px;
    }
    
    /*Style element for monthly spending message container in monthlyspending.html*/
    .monthly-spending-message-container {
        text-align: center;
    }
/*↑ yearlyreport.html Style elements ↑*/

/* Centers text in all the transactionforms */
#transactionform {
  text-align: center;
}

/*↓ monthlyreport.html Style elements ↓*/

      /*Style element for how much money you have spent on monthlyspending.html*/
      #money-monthly-report {
        display: flex; /* Use flexbox for centering */
        flex-direction: column; /* Stack items vertically */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        width: fit-content; /* Adjust width as per content */
        margin: 100px auto 50px; /* Center align horizontally and add top and bottom margin */
        /* padding: 10px 20px; */
        background-color: #a4a4a4;
        color: #000000;
        border: solid;
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    #money-monthly-report .report-heading {
        margin-bottom: 10px; /* Add margin below the heading */
    }
    
    /* Style for the graph image container */
    .monthly-graph-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px; /* Add space between text and image */
    }
    
    /* Style for the graph image */
    .graph-image {
        max-width: 33.33%; /* Make the image one-third of its original size */
        max-height: 33.33%; /* Make the image one-third of its original size */
    }
    
    /* Style for the top spendings container */
    .top-monthly-spendings-container {
        text-align: center;
        margin-top: 20px;
    }
    
    .top-monthly-spendings-container h3 {
        margin-bottom: 10px;
    }
    
    .top-monthly-spendings-container ul {
        list-style: none;
        padding: 0;
    }
    
    .top-monthlyspendings-container ul li {
        margin-bottom: 5px;
    }
    
    /*↓ yearlyreport.html Style elements ↓*/
    
    /*Style element for back button image on monthlyspending.html*/
    #back-button-image{
        max-width: 40px;
        max-height: 40px;
        min-width: 20px; 
        min-height: 20px;
        margin-bottom: 5px;
    }
    
    /*Style element for monthly spending message container in monthlyspending.html*/
    .monthly-spending-message-container {
        text-align: center;
    }
/*↑ yearlyreport.html Style elements ↑*/

/*↓ comparemonths.html Style elements ↓*/
.comparison-container {
  text-align: center;
}

.comparison-title {
  margin-bottom: 20px;
}

.comparison-sides {
  display: flex;
  justify-content: center;
}

.comparison-side {
  margin: 0 10px;
  text-align: center; /* Center the text within each side */
}

.side-title {
  margin-bottom: 5px;
}

#submitBtn {
  margin-top: 20px;
}

#result {
  margin-top: 20px;
}

#resultImage {
  max-width: 100%;
  height: auto;
}

/*↑ comparemonths.html Style elements ↑*/

/*↓ aboutus.html Style elements ↓*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dedcdc;
  text-align: center; /* Center aligning text */
}

.maincontainer {
  max-width: 800px;
  margin: 20px auto; /* Centering the container horizontally */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: left; /* Resetting text alignment to left for content within the container */
}

h1 {
  margin-bottom: 20px; /* Adding some space below the heading */
}

.dev {
  margin-bottom: 40px;
}

.dev img {
  display: block;
  margin: 0 auto 20px; /* Centering the image horizontally */
  border-radius: 50%;
  max-width: 200px;
  height: auto;
}

.dev h2 {
  margin-bottom: 10px;
}

.dev p {
  text-align: justify;
}

#back-button-image-aboutus {
  max-width: 40px;
  max-height: 40px;
  min-width: 20px; 
  min-height: 20px;
  margin-bottom: 5px;
  position: fixed;
  left: 100px; /* Adjusted value to move the button two times further to the right */
  top: 25%;
  transform: translateY(-50%);
}
/*↑ aboutus.html Style elements ↑*/

/*↓ profile.html Style elements ↓*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dedcdc;
  text-align: center; /* Center aligning text */
}

.maincontainer {
  max-width: 800px;
  margin: 20px auto; /* Centering the container horizontally */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: left; /* Resetting text alignment to left for content within the container */
}

h1 {
  margin-bottom: 20px; /* Adding some space below the heading */
}

.dev {
  margin-bottom: 40px;
}

.dev h2 {
  margin-bottom: 10px;
}

.dev p {
  text-align: justify;
}

#back-button-image-aboutus {
  max-width: 40px;
  max-height: 40px;
  min-width: 20px; 
  min-height: 20px;
  margin-bottom: 5px;
  position: fixed;
  left: 100px;
  top: 25%;
  transform: translateY(-50%);
}
/*↑ profile.html Style elements ↑*/